{{#if isAuthor}}
    <a href="/edit/:{{teamId}}" class="mt-2 btn btn-primary">Edit Info</a>
{{/if}}
{{#if isOnTeam}}
    <a href="/leave" class="mt-2 btn btn-primary">Leave Team</a>
{{else}}
    <a href="/join/:{{teamId}}" class="mt-2 btn btn-primary">Join Team</a>
{{/if}}