<div class="container">
    {{> header}}
    {{#if hasNoTeam}}
        <a href="/create" class="mt-2 btn btn-primary">Create Team</a>
    {{/if}}
    <h1>Catalog Page</h1>
    <div>
        {{#each teams}}
            {{> team}}
        {{/each}}
    </div>
</div>

{{> footer}}