.btn {
    background: #00ac79;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 50px;
    text-align: center;
    border: none;
    border-radius: 2px;
    font-size: 0.9rem;
}
.bg-green {
    background-color: #c1ffe8;
}
hr {
    width: 40%;
    margin-top: 50px;
    background: lightgray;
    border: none;
    height: 1px;
}
