html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
}
body {
    background-color: #eeeeee;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.5;
    padding: 20px 130px;
}
div {
    display: flex;
    flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
    font-weight: 400;
}

p,
blockquote,
a {
    font-size: 0.7em;
}
.site-title {
    font-size: 40px;
    text-transform: uppercase;

    font-weight: bold;
}

.site-header {
    flex-basis: 100%;
    border-bottom: 2px solid black;
}
img {
    padding: 5px;
    border: 2px solid black;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
}
.blockquote {
    display: flex;
}

.quote {
    font-family: Georgia, serif;
    border-left: 3px solid lightgray;
    padding-left: 20px;
    font-style: italic;
    color: #757171;
}
figcaption {
    text-align: right;
}

.first-img {
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
}
main,
aside {
    display: flex;
}

.third {
    margin-top: 50px;
}
.second-img {
    float: left;
    margin-right: 50px;
    margin-bottom: 40px;
}
@media all and (max-width: 500px) {
    body {
        font-size: 12px;
        padding: 20px 30px;
    }
    .first-img {
        float: right;
        margin: 0;
    }
    .second-img {
        float: none;
        margin: 0;
    }
    .blockquote {
        flex-direction: column-reverse;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}

@media all and (min-width: 500px) and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 20px 30px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 600px) and (max-width: 800px) {
    body {
        font-size: 16px;
        padding: 20px 30px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 800px) and (max-width: 1300px) {
    body {
        font-size: 18px;
        padding: 20px 50px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 1300px) and (max-width: 1800px) {
    body {
        font-size: 21px;
    }
}
@media all and (min-width: 1800px) {
    body {
        font-size: 23px;
    }
}
