@media all and (max-width: 500px) {
    body {
        font-size: 12px;
        padding: 20px 30px;
    }
    .first-img {
        float: right;
        margin: 0;
    }
    .second-img {
        float: none;
        margin: 0;
    }
    .blockquote {
        flex-direction: column-reverse;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}

@media all and (min-width: 500px) and (max-width: 600px) {
    body {
        font-size: 14px;
        padding: 20px 30px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 600px) and (max-width: 800px) {
    body {
        font-size: 16px;
        padding: 20px 30px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 800px) and (max-width: 1300px) {
    body {
        font-size: 18px;
        padding: 20px 50px;
    }
    .quote {
        margin: 0px 0px 0px 15px;
    }
    blockquote {
        margin: 10px 0px 20px 0px;
    }
    figcaption {
        margin: 0px 0px 5px 0px;
    }
}
@media all and (min-width: 1300px) and (max-width: 1800px) {
    body {
        font-size: 21px;
    }
}
@media all and (min-width: 1800px) {
    body {
        font-size: 23px;
    }
}
