@import 'https://use.fontawesome.com/releases/v5.15.3/css/all.css';

a{
    border-radius: 4px;    
    padding: 10px;
    color: rgb(251, 251, 251);
}
a.click{
    background-color: #008000;
}
a.email{
    background-color: #FF8C00;
}
p{
    padding: 10px;
}